/* Style der Karte */
#map {
  height: 750px;
  width: 940px;
  margin: auto;
}
/* Style Gesamter Wrapper */
.content-wrapper{
  padding-top: 1em;
  padding-bottom: 3em;
  background: #f5f5f6;
}
/* Style des Containers im Wrapper */
.container{
  display: block;
  margin-bottom: 2em;
}
/* Style Persona Boxen */
.custom-color-secondary{
  background: rgb(81, 125, 205);
}
/* Style Nav, Footer */
.nav-wrapper, .page-footer{
  background: rgb(8, 81, 156);
}
.brand-logo{
  margin-left: 2em;
}
[type="radio"]:not(:checked), [type="radio"]:checked, [type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position: relative;
  opacity: 1;
  pointer-events: auto;
}
#map_full{
  width: 100%;
  height: 100%;
}
.card-height{
  height: 200px;
}
.text_ccdark{
  color: rgba(0,0,0,0.87);
}
#h3_team{
  margin-bottom: 1em;
}
.footer_link{
  text-decoration: none;
}
#logo_adolfinum{
  width: 120px;
  height: 60px;
}
.dog_icon{
  width: 50px;
  height: 50px;
}
.persona_img{
  width: 200px;
  height: 200px;
}
.persona_img_2{
  width: 300px;
  height: 200px;
}
.justify{
  text-align: justify;
}

/*
Popup Tabelle
.table{
  width: 100%;
  margin-bottom: 20px;
}
.table-bordered{
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
}
*/
